.head-and-podval{
    max-width: 80%;
    background-color: wheat;
    margin: 40px auto;
}
.deliviry-logo{
    margin-top: 10px;
    /* padding: 0; */
}
main{
    background: linear-gradient(white, #f6f6f6);
    margin: 40px auto;
    max-width: 80%;
}
.banner-pizza{
    /* background-color: orange; */
    height: 200px;
    /* background-image: url(img/card-image1.jpg); */
}
.search-of-restaurant{
    /* background-color: orange; */
}