* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

a{
    color: #595959;
    text-decoration: none;
}
  
header{
    margin: 3% auto 0 auto;
    text-align: center;
}
.header-content{
    width: 1210px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header #header-search{
    text-align: left;
}

header #header-search__input{
    padding: 12px 10px 12px 10px;
    font-weight: 500;
    font-size: medium;
    width: 100%;
    border: 0.5px solid #d9d9d9;
    background: url(img/home.svg) no-repeat 10px 50%;
    background-size: auto 50%;
    padding-left: 35px;
    width: 650px;
}

header #header-buttons{
    text-align: right;
}

header #header-buttons #button-to-come-in{
    background: url(img/user.svg) no-repeat 15px 50%;
    width: 100px;
    background-color: #1890ff;
    color: white;
    padding: 12px 12px 12px 30px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: medium;
    /* вот это для расстояния между кнопками */
    margin-right: 10px
}

header #header-buttons #button-with-shopping-cart{
    background: url(img/shopping-cart.svg) no-repeat 15px 50%;
    padding: 12px 17px 12px 40px;
    border: 0.5px solid #d9d9d9;
    font-weight: 500;
    font-size: medium;
    border-radius: 3px;
    color: #595959;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    background: linear-gradient(white, #f6f6f6);
    flex: 1 0 auto;
}

.content{
    margin: 0px auto;
    width: 1210px;
}

.banner-pizza{
    margin: 40px 0 60px 0;
    background-color: #fff1b8;
    height: 350px;
    background-image: url(img/promo-img.jpeg);
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: 250px 10px;
    border-radius: 10px;
}
.banner-pizza__online-service{
    position: absolute;
    margin: 80px 70px;
    width: 300px;
    line-height: 2;
}

.banner-pizza__dishies-from-rest{
    position: absolute;
    width: 700px;
    margin: 200px 70px;
    font-weight: 400;
    font-size: 23px;
}

.search-of-restaurant-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.search-of-restaurant-block__input{
    padding: 12px 10px 12px 10px;
    font-weight: 500;
    font-size: medium;
    width: 100%;
    border: 0.5px solid #d9d9d9;
    background: url(img/search.svg) no-repeat 10px 50%;
    background-size: auto 50%;
    padding-left: 35px;
    width: 250px;
}

.choice-of-dishes{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
}

.card{
    box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
    border-radius: 7px;
}

.card__image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__name-and-time{
    display: flex;
    justify-content: space-between;
    margin: 15px 27px 0 27px;
}

.card__rating-and-price{
    display: flex;
    gap: 10px;
    margin: 5px 27px 50px 27px;
}

.card__rating-and-price__rating{
    color: #ffc107;
    font-weight: 700;
}


h6{
    background: #262626;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

h3{
    color: #8c8c8c;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
/* почему если использовать вот это вместо класса price, то будет две точки*/
/* h3::after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
} */
/* почему если использовать вот это на теги div, то все нахуй сломается?*/
.price{
    /* color: #8c8c8c;
    font-size: 18px;
    font-style: normal;
    font-weight: normal; */
    margin-left: 15px;
}
/* и как это вообще работает? Почему почтая строка == квадратику */
.price::after{
    content: ""; /* я про это */
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

footer{
    margin: 4% auto;
    padding-bottom: 50px;
    border-top: 0px solid grey;
}

.footer-content{
    width: 1210px;
    display: flex;
}

#footer-hrefs{
    text-decoration: none;
    transform: translate(0, 25%);
    margin: 0 30px;
    display: flex;
    gap: 20px;
    font-size: large;
}

#footer-social-media{
   display: flex;
   gap: 30px;
   transform: scale(0.6);
   order: 999;
   margin-left: auto;
}
